@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-logo {
  font-family: "Pushster", sans-serif;
}
.background {
  @apply bg-gradient-to-tr from-gray-600 via-gray-800 to-gray-500;
}

.form-layout {
  @apply mx-auto w-3/4 max-w-[50rem] bg-gradient-to-b from-gray-700 to-slate-900  p-5 rounded-3xl shadow-lg shadow-purple-700;
}

.input-field {
  @apply border-2 border-gray-700 p-2 rounded-lg w-3/5;
}

main {
  @apply flex items-center justify-center h-[calc(100vh-4rem)];
}

.sticky-top {
  @apply sticky top-0 z-10;
}

.glass-container {
  background: rgba(124, 31, 239, 0.4);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(124, 31, 239, 0.2);
}

.popup-container {
  animation: popIn  .25s;

}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
  



